@model List<Branch>
@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive">
    <a asp-controller="Branch" asp-action="create" class="btn btn-success" style="border-radius:15px; position:absolute;right:40px;top:90px; background-color:#6366F1;border:none; width:50px;"><i class="fa-solid fa-plus"></i></a>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Name <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
                <th scope="col">Location <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
                <th scope="col">Phone Number <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
                <th scope="col">Detail <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
                <th scope="col">Edit <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
                <th scope="col">Delete <i style="font-size:14px" class="fa-solid fa-arrow-down"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Branch branch in Model)
            {
                <tr>

                    <td>@branch.Name</td>
                    <td>
                        @if (@branch.Location.Length > 30)
                        {
                            @(branch.Location.Substring(0,30).ToString() + "...")
                        }
                        else
                        {
                            @branch.Location
                        }
                    </td>
                    <td>@branch.PhoneNumber</td>

                    <td><a asp-controller="branch" asp-action="detail" asp-route-id="@branch.Id" class="btn btn-success" style="border-radius:15px; background-color:#FFA500;border:none; width:50px;"><i style="font-size:17px" class="fa-solid fa-circle-info"></i></a></td>
                    <td><a asp-controller="branch" asp-action="edit" asp-route-id="@branch.Id" class="btn btn-success" style="border-radius:15px; background-color:#6366F1;border:none; width:50px;"><i class="fa-solid fa-pen-clip"></i></a></td>
                    <td><a asp-controller="branch" asp-action="delete" asp-route-id="@branch.Id" class="btn btn-danger" style="border-radius:15px;border:none; width:50px;"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            }

        </tbody>
    </table>
</div>


